intro h1 {
  box-sizing: border-box;
  text-align: center;
  font-size: 50px;
  margin: 20px 10px;
  border: 10px, solid brown;
  padding: 1px, 20px, black ;
}

.rounded-image {
  border-radius:50%;
  height:50px;
  width:50px;
  object-fit: cover;
}

.intro {
  border: #222, 50px;
}
.intro button {
  text-align: center;
  background-color: whitesmoke;
  position: center;
}

body {
  background-color: beige;
  font-family: Arial, sans-serif;
}

.body h2 {
  text-align: center;
  padding: 10px, black;
  margin: 10px;
  font-size: x-large;

  border: 10px;
}

.contact h2 {
  text-align: center;

  padding: 0.5%;
}
